
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title | async}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
  @for(item of tabs; track $index) {

    <ion-tab-button
      [selected]="tabNum === item.order"
      tab="{{'tab'+ ($index + 1)}}"
      (click)="switchTab(item.order)"
      href="{{'/tabs/tab' + ($index + 1)}}"
    >
      <ion-icon [name]=item.icon></ion-icon>
      <ion-label>{{item.name}}</ion-label>
    </ion-tab-button>
  }
  </ion-tab-bar>
</ion-tabs>


