@if (loadingGps) {
  <ion-loading
    message="carregando posição do gps..."
    spinner="circles"
  >loading
  </ion-loading>
}
<div class="ion-padding"></div>
@if (currentLocation$ | async) {
}
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
  </ion-header>
  <ion-card style="align-self: center">
    <ion-card-header>
      <ion-card-title>Localização</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <google-map
        mapId="MAIN_MAP"
        class="align-self-center"
        [options]="options"
        height="{{mapHeight}}"
        width="{{mapWidth}}"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="addMarker($event)"
      >
        <map-advanced-marker [position]="currentLocation()"/>
        @if (directionResult$ | async; as directionResults) {
          <map-directions-renderer [directions]="directionResults"/>
        }
        @for (safePoint of listOfSafePoints(); track safePoint) {
          <map-advanced-marker [position]="safePoint.location"/>
        }
        <map-advanced-marker [position]="markerPosition.location"/>
      </google-map>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <div style="text-align: center; padding: 10px">
      <ion-button id="openModal">Adicionar lugar seguro</ion-button>
      <ion-modal trigger="openModal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <div class="ion-align-self-center">
            <div class="ion-padding"></div>
            <ion-input label="Insira o Nome do lugar" labelPlacement="stacked" type="text"
                       placeholder="lugar seguro"
                       [(ngModel)]="nameInput"></ion-input>
            <ion-button (click)="confirm()">Confirmar</ion-button>
            <ion-button (click)="cancel()">Voltar</ion-button>
          </div>
        </ng-template>
      </ion-modal>
      <div></div>
      <ion-list>
        @for (safe of listOfSafePoints(); track safe) {
          <ion-item class="d-flex align-items-center">
            <div>
              <span class="text">{{ safe.name }}</span>
            </div>
            <ion-button size="small" (click)="getRoute(safe)">Ir</ion-button>
            <ion-button size="small" (click)="removeSafePoint(safe)">
              <ion-icon slot="icon-only" name="trash-sharp"></ion-icon>
            </ion-button>
          </ion-item>
        }
      </ion-list>
    </div>
  </ion-card>
</ion-content>
