<!-- <ion-header [translucent]="true"> -->
<!--   <ion-toolbar> -->
<!--     <ion-title> -->
<!--       Home -->
<!--     </ion-title> -->
<!--   </ion-toolbar> -->
<!-- </ion-header> -->

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ensolarado</ion-card-title>
      <ion-card-subtitle>São Sebastião, {{ clock() | date: 'longDate' }}</ion-card-subtitle>
    </ion-card-header>
    <!-- Code 	        Description -->
    <!-- 0 	            Clear sky -->
    <!-- 1, 2, 3      	Mainly clear, partly cloudy, and overcast -->
    <!-- 45, 48       	Fog and depositing rime fog -->
    <!-- 51, 53, 55 	  Drizzle: Light, moderate, and dense intensity -->
    <!-- 56, 57 	      Freezing Drizzle: Light and dense intensity -->
    <!-- 61, 63, 65 	  Rain: Slight, moderate and heavy intensity -->
    <!-- 66, 67 	      Freezing Rain: Light and heavy intensity -->
    <!-- 71, 73, 75 	  Snow fall: Slight, moderate, and heavy intensity -->
    <!-- 77 	          Snow grains -->
    <!-- 80, 81, 82 	  Rain showers: Slight, moderate, and violent -->
    <!-- 85, 86 	      Snow showers slight and heavy -->
    <!-- 95 * 	        Thunderstorm: Slight or moderate -->
    <!-- 96, 99 * 	    Thunderstorm with slight and heavy hail -->
    <ion-card-content style="display: flex;">
      <!-- @TODO: Add weather icons -->
      @switch (weatherCode()) {
      @case (0) {
      <ion-icon name="sunny-outline"></ion-icon>
      }
      @case (3) {
      <ion-icon name="partly-sunny-outline"></ion-icon>
      }
      @default {
      <!-- TODO: replace this with loading  -->
      <ion-icon name="sunny-outline"></ion-icon>
      }
      }
      <div style="padding: 6px;"></div>
      <h2 style="font-size: 24px;">{{currentTemperature() | number:'1.0-0'}}°C</h2>
    </ion-card-content>
  </ion-card>

</ion-content>
